.nav {
  background-color: #00d1b2 !important;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
  width: 25% !important;
}

.table {
  margin: 20px 0;
  background-color: 
}

.no-data {
  background-color: rgba(255, 235, 59, 0) !important;
}

.no-data .icon {
  height: 5em;
  width: 4em;
}
.no-data .fa-4 {
  font-size: 4em !important;
}

svg {
  height: 100px;
}

td:first-of-type,
td:first-of-type>div {
  height: 100%;
  width: 100%;
}

.hero.main-ct {
  height: 100vh;
  width: 100vw;
}
.weather-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('http://om8hmotom.bkt.clouddn.com/tianqi.jpg');
  background-size: cover;
  background-position: center;
}